/* -----------------폰트----------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{font: 76px / 78px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
h2{font: 36px / 38px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
h5{font: 24px / 26px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
h6{font: 18px / 20px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
.p-title{font: 14px / 20px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
.p-label{font: 14px / 20px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
.p-body{font: 300 14px / 20px 'Noto Sans KR', sans-serif;word-break: keep-all;}


.w-100{color:#ffffff;}
.w-90{color:#ffffffe6;}
.w-80{color:#ffffffcc;}
.w-60{color:#ffffff99;}
.b-100{color:#000000;}

.chip-wrap{margin-bottom: 8px;}
.chip{
    font: 500 10px / 26px 'Noto Sans KR', sans-serif;word-break: keep-all;
    color: #000000;

    display: inline-block;
    padding: 0 11px;
    border-radius: 13px;
    background-color: #ffffffe6;
    margin-right: 6px;
    margin-bottom: 8px;
}
.chip:last-child{ margin-right: 0px;}

.quote-l {
    background-image: url("../img/img-quote-l.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.quote-r {
    background-image: url("../img/img-quote-r.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* 섹션 */

.section__wrap{
    max-width: 1920px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
    column-gap: 40px;
}
.section__wrap.padding{
    padding: 80px;
    grid-template-columns: 260px 1fr;
    
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -ms-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
    
}
.section__wrap.nopadding{
    padding: 0px;
    grid-template-columns: 340px 1fr;
    
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -ms-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
    
}

/* 프로젝트 표지*/
.cover{
    height: 85vh;
    max-height: 1080px;
    min-height: 640px;
    padding: 0px;

    -webkit-transition: min-height 1s;
    -moz-transition: min-height 1s;
    -ms-transition: min-height 1s;
    -o-transition: min-height 1s;
    transition: min-height 1s;
}
.cover__wrap{
    max-width: 1920px;
    margin: auto;
    
    height: -webkit-fill-available;
    padding: 80px;
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
    row-gap: 20px;
        
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -ms-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
}
.cover #cover__name{
    grid-column: 1 / 5;
}
.cover .info{
    min-width: 180px;
    grid-column: 5 / 7;
}
.cover .info li{
    margin-bottom: 12px;
}
.cover .info li:last-child {
    margin-bottom: 0px;
}
.cover .info li .p-label{
    display: inline-block;
    width: 80px;
}
.cover .tool{
    min-width: 180px;
    grid-column: 7 / 8;
}
.cover .tool li{
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 8px 8px 0;
    background-size: contain;
    background-repeat: no-repeat;
}
#cover__ps{background-image: url(../img/logo-ps.png);}
#cover__ai{background-image: url(../img/logo-ai.png);}
#cover__figma{background-image: url(../img/logo-figma.png);}
#cover__sketch{background-image: url(../img/logo-figma.png);}
#cover__zepplin{background-image: url(../img/logo-figma.png);}
#cover__ppt{background-image: url(../img/logo-figma.png);}
#cover__ae{background-image: url(../img/logo-figma.png);}

/* 섹션 정보*/
.section__wrap.nopadding .section__title-wrap{
    padding : 80px 0 80px 80px;
}
.section__title-wrap .section__bar{
    width: 94px;
    height: 2px;
    margin-bottom: 30px;
    background-color: #ffffff;
}
.section__title-wrap .section__subtitle{
    margin-bottom: 6px;
    font: 14px / 20px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;
    color : #ffffff;
}
.section__title-wrap .section__title{
    font: 36px / 38px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;
    color : #ffffff;
}
/* 섹션 설명 */
.description-nochip{
    margin: 60px 0 16px 0;

    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -ms-transition: margin 1s;
    -o-transition: margin 1s;
    transition: margin 1s;
}
.description-chip{
    margin: 28px 0 16px 0;

    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -ms-transition: margin 1s;
    -o-transition: margin 1s;
    transition: margin 1s;
}
.description-description{
    margin: 28px 0 16px 0;

    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -ms-transition: margin 1s;
    -o-transition: margin 1s;
    transition: margin 1s;
}




@media screen and (max-width: 1400px) { 
    /* 섹션 레이아웃 */
    .section__wrap.padding{
        grid-template-columns: 1fr;
        
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
        
    }
    .section__wrap.nopadding{
        grid-template-columns: 1fr;
        
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
        
    }
    /* 프로젝트 표지 */
    .cover #cover__name{
        grid-column: 1 / 4;
    }
    .cover .info{
        grid-column: 4 / 6;
    }
    .cover .tool{
        grid-column: 6 / 8;
    }
    /* 섹션 정보 */
    .section__wrap.nopadding .section__title-wrap{
        padding : 80px 0 0px 80px;

        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }
    /* 섹션 설명 */
    .description-nochip{
        margin: 16px 0;

        -webkit-transition: margin 1s;
        -moz-transition: margin 1s;
        -ms-transition: margin 1s;
        -o-transition: margin 1s;
        transition: margin 1s;
    }
    .description-chip{
        margin: 16px 0;

        -webkit-transition: margin 1s;
        -moz-transition: margin 1s;
        -ms-transition: margin 1s;
        -o-transition: margin 1s;
        transition: margin 1s;
    }
    .description-chip .chip{display: none;}
    .description-description{
        margin: 16px 0 16px 0;

        -webkit-transition: margin 1s;
        -moz-transition: margin 1s;
        -ms-transition: margin 1s;
        -o-transition: margin 1s;
        transition: margin 1s;
    }
} 
@media screen and (max-width: 1024px) { 
    /* 섹션 레이아웃 */
    .section__wrap.padding{
        padding: 52px;
        
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
        
    }
    /* 프로젝트 표지 */
    .cover{grid-template-columns: 1fr;}
    .cover__wrap{
        padding: 64px 52px 52px 52px;
        grid-template-columns: 1fr;
        background: linear-gradient(90deg, #0000004d 40%, #00000000 100%);
        
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }
    .cover #cover__name{
        grid-column: 1 / 2;
    }
    .cover .info{
        grid-column: 1 / 2;
    }
    .cover .tool{
        grid-column: 1 / 2;
    }
    /* 섹션 정보 */
    .section__wrap.nopadding{
        grid-template-columns: 1fr;
        grid-template-rows: 152px 1fr;
    }
    .section__wrap.nopadding .section__title-wrap{
        padding: 52px 52px 0 52px;
        
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }
} 
@media screen and (max-width: 768px) { 
    /* 폰트 */
    h1{font: 66px / 68px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
    h2{font: 28px / 32px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
    h5{font: 18px / 20px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
    h6{font: 16px / 18px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
    .p-title{font: 13px / 18px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
    .p-label{font: 13px / 18px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
    .p-body{font: 300 13px / 18px 'Noto Sans KR', sans-serif;word-break: keep-all;}

    /* 섹션 정보 */ 
    .section__wrap.nopadding{
        grid-template-rows: 138px 1fr;
    }
    .section__title-wrap .section__title{
        font: 24px / 26px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;
    }
} 

@media screen and (max-width: 480px) { 
    /* 프로젝트 표지 */
    .cover{
            min-height: 400px;
        
            -webkit-transition: min-height 1s;
            -moz-transition: min-height 1s;
            -ms-transition: min-height 1s;
            -o-transition: min-height 1s;
            transition: min-height 1s;
    }
    .cover__wrap{
        padding: 52px 32px;
        
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }
    .cover h1{font: 48px / 50px 'GangwonEduPowerExtraBoldA', sans-serif;word-break: keep-all;}
    .cover .info li {margin-bottom: 4px;}


    /* 섹션 정보 */
    .section__wrap.nopadding{
        grid-template-rows: 1fr;
    }
    .section__wrap.padding{
        padding : 52px 32px;
        
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }
    .section__wrap.nopadding .section__title-wrap{
        padding: 52px 32px 0 32px;
        
        -webkit-transition: padding 1s;
        -moz-transition: padding 1s;
        -ms-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }
    .section__title-wrap .section__bar{
        margin-bottom: 20px;
        background-color: #ffffff;
    }
} 